In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
data = pd.read_csv('boston.csv')

In [3]:
data

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [4]:
data.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [5]:
x = data.drop('medv',axis =1)

In [7]:
y = data['medv']

In [9]:
x.shape

(506, 14)

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0 ,test_size =0.25)

In [11]:
x_train

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
245,246,0.19133,22.0,5.86,0,0.431,5.605,70.2,7.9549,7,330,19.1,389.13,18.46
59,60,0.10328,25.0,5.13,0,0.453,5.927,47.2,6.9320,8,284,19.7,396.90,9.22
276,277,0.10469,40.0,6.41,1,0.447,7.267,49.0,4.7872,4,254,17.6,389.25,6.05
395,396,8.71675,0.0,18.10,0,0.693,6.471,98.8,1.7257,24,666,20.2,391.98,17.12
416,417,10.83420,0.0,18.10,0,0.679,6.782,90.8,1.8195,24,666,20.2,21.57,25.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,324,0.28392,0.0,7.38,0,0.493,5.708,74.3,4.7211,5,287,19.6,391.13,11.74
192,193,0.08664,45.0,3.44,0,0.437,7.178,26.3,6.4798,5,398,15.2,390.49,2.87
117,118,0.15098,0.0,10.01,0,0.547,6.021,82.6,2.7474,6,432,17.8,394.51,10.30
47,48,0.22927,0.0,6.91,0,0.448,6.030,85.5,5.6894,3,233,17.9,392.74,18.80
172,173,0.13914,0.0,4.05,0,0.510,5.572,88.5,2.5961,5,296,16.6,396.90,14.69

In [12]:
x_train.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
245,246,0.19133,22.0,5.86,0,0.431,5.605,70.2,7.9549,7,330,19.1,389.13,18.46
59,60,0.10328,25.0,5.13,0,0.453,5.927,47.2,6.9320,8,284,19.7,396.90,9.22
276,277,0.10469,40.0,6.41,1,0.447,7.267,49.0,4.7872,4,254,17.6,389.25,6.05
395,396,8.71675,0.0,18.10,0,0.693,6.471,98.8,1.7257,24,666,20.2,391.98,17.12
416,417,10.83420,0.0,18.10,0,0.679,6.782,90.8,1.8195,24,666,20.2,21.57,25.79

In [13]:
x_train.shape

(379, 14)

In [14]:
x_test

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
329,330,0.06724,0.0,3.24,0,0.460,6.333,17.2,5.2146,4,430,16.9,375.21,7.34
371,372,9.23230,0.0,18.10,0,0.631,6.216,100.0,1.1691,24,666,20.2,366.15,9.53
219,220,0.11425,0.0,13.89,1,0.550,6.373,92.4,3.3633,5,276,16.4,393.74,10.50
403,404,24.80170,0.0,18.10,0,0.693,5.349,96.0,1.7028,24,666,20.2,396.90,19.77
78,79,0.05646,0.0,12.83,0,0.437,6.232,53.7,5.0141,5,398,18.7,386.40,12.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49,50,0.21977,0.0,6.91,0,0.448,5.602,62.0,6.0877,3,233,17.9,396.90,16.20
498,499,0.23912,0.0,9.69,0,0.585,6.019,65.3,2.4091,6,391,19.2,396.90,12.92
309,310,0.34940,0.0,9.90,0,0.544,5.972,76.7,3.1025,4,304,18.4,396.24,9.97
124,125,0.09849,0.0,25.65,0,0.581,5.879,95.8,2.0063,2,188,19.1,379.38,17.58
306,307,0.07503,33.0,2.18,0,0.472,7.420,71.9,3.0992,7,222,18.4,396.90,6.47

In [15]:
x_test.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
329,330,0.06724,0.0,3.24,0,0.460,6.333,17.2,5.2146,4,430,16.9,375.21,7.34
371,372,9.23230,0.0,18.10,0,0.631,6.216,100.0,1.1691,24,666,20.2,366.15,9.53
219,220,0.11425,0.0,13.89,1,0.550,6.373,92.4,3.3633,5,276,16.4,393.74,10.50
403,404,24.80170,0.0,18.10,0,0.693,5.349,96.0,1.7028,24,666,20.2,396.90,19.77
78,79,0.05646,0.0,12.83,0,0.437,6.232,53.7,5.0141,5,398,18.7,386.40,12.34

In [16]:
x_test.shape

(127, 14)

In [17]:
y_train

245    18.5
59     19.6
276    33.2
395    13.1
416     7.5
       ...
323    18.5
192    36.4
117    19.2
47     16.6
172    23.1
Name: medv, Length: 379, dtype: float64

In [18]:
y_train.head()

245    18.5
59     19.6
276    33.2
395    13.1
416     7.5
Name: medv, dtype: float64

In [20]:
y_train.shape

(379,)

In [21]:
y_test

329    22.6
371    50.0
219    23.0
403     8.3
78     21.2
       ...
49     19.4
498    21.2
309    20.3
124    18.8
306    33.4
Name: medv, Length: 127, dtype: float64

In [22]:
y_test.head()

329    22.6
371    50.0
219    23.0
403     8.3
78     21.2
Name: medv, dtype: float64

In [24]:
y_test.shape

(127,)

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
regressor=LinearRegression()

In [27]:
regressor.fit(x_train,y_train)

LinearRegression()

In [28]:
regressor.coef_

array([-6.86626589e-04, -1.18114875e-01,  4.45457552e-02, -5.73095686e-03,
        2.40076954e+00, -1.55582202e+01,  3.77695509e+00, -7.50684159e-03,
       -1.43843147e+00,  2.45150451e-01, -1.10818418e-02, -9.85916565e-01,
        8.44873594e-03, -4.99309080e-01])

In [29]:
regressor.intercept_

36.95077114109373

In [30]:
y_pred=regressor.predict(x_test)

In [31]:
y_pred.shape

(127,)

In [34]:
result=pd.DataFrame({'Actual':y_test,'Protected':y_pred})

In [35]:
result

     Actual  Protected
329    22.6  24.888928
371    50.0  23.651784
219    23.0  29.171382
403     8.3  11.960815
78     21.2  21.421473
..      ...        ...
49     19.4  17.587109
498    21.2  21.311314
309    20.3  23.534179
124    18.8  20.269959
306    33.4  35.110222

[127 rows x 2 columns]

In [36]:
residual_error=abs(y_test-y_pred)

In [37]:
residual_error

329     2.288928
371    26.348216
219     6.171382
403     3.660815
78      0.221473
         ...
49      1.812891
498     0.111314
309     3.234179
124     1.469959
306     1.710222
Name: medv, Length: 127, dtype: float64

In [38]:
residual_error;

In [39]:
sum(residual_error)/len(residual_error)

3.660052718913963

In [41]:
from sklearn.metrics import mean_absolute_error 
mean_absolute_error(y_pred,y_test)

3.6600527189139638

In [42]:
from sklearn.metrics import mean_absolute_percentage_error

In [43]:
mean_absolute_percentage_error(y_test,y_pred)

0.17503059664534765

In [44]:
regressor.score(x_test,y_test)

0.6367909663749026

In [45]:
pip install scikit-learn-U

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement scikit-learn-U (from versions: none)
ERROR: No matching distribution found for scikit-learn-U

In [46]:
from sklearn.metrics import r2_score 
r2_score(y_test,y_pred)

0.6367909663749026

In [47]:
y_pred = regressor.predict(x_test)

In [48]:
print(regressor.predict(x_test))

[24.88892832 23.65178395 29.17138235 11.9608146  21.42147291 19.5759697
 20.39001727 21.38946399 18.90103725 20.01428407  4.89638049 16.0999774
 16.92156741  5.33896789 39.89314939 32.31855471 22.29479537 36.57133779
 31.05513617 23.42076447 24.82469916 24.27789569 20.7755791  30.40301836
 22.52044048  9.8888835  17.79172879 18.01196184 35.74379088 20.86082433
 18.06220198 17.66106057 19.66955536 23.76181695 29.0646852  19.28954908
 10.98249481 24.60733948 17.32398525 15.16051448 26.02096054 20.94703197
 22.18655263 15.27864392 22.74912513 25.17235352 19.64059973 22.75606027
  9.70305334 24.53303695 20.77919557 17.34878324 24.43316753 30.10654613
 13.35304874 21.6474091  20.55106464 15.21385929 13.75896529 22.03200631
 17.45592831 21.50744271 32.88043354 31.33502462 17.6176932  32.75333886
 18.54825647 19.42311655 18.81950048 23.03070176 22.89963201 24.09485764
 30.76092636 28.80965124 25.74853688  5.01761609 36.82796604 23.77914788
 27.41110133 19.13413347 28.49696634 19.23856973 18.82094637 37.94146521
 39.34369561 23.81454613 24.99141995 15.70748331 25.96120162 16.59613411
 15.90179384 12.88419307 24.4049217  30.89519163 22.11403083 20.15312948
  0.23673868 25.37467901 15.33648686 17.88459369 25.42797637 22.52243405
 32.57205951 22.09526118 27.35267158 23.4327242   6.2883497  14.79323775
 22.20073543 29.07736724 33.01018311 12.85533435 19.90289149 20.67258907
 12.16310042 23.36001396  4.73814548 19.88328185  9.18411439 44.59788715
 30.67766427 12.31930179 17.587109   21.31131421 23.5341794  20.26995925
 35.11022217]

In [49]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [50]:
print("Mean Squared Error:", mse)
print("R-squared Score:", r2)

Mean Squared Error: 29.673820445369103
R-squared Score: 0.6367909663749026